<div class="animate__animated animate__fadeIn">
  <h2>Por País</h2>
  <hr>

  <div class="row">
    <div class="col">
      <app-pais-input
        (onEnter)="buscar( $event )"
        (onDebounce)="sugerencias( $event )"
      >
      </app-pais-input>
    </div>
  </div>

  <ul *ngIf="paisesSugeridos.length"
    class="list-group">
    <li *ngFor="let pais of paisesSugeridos"
      class="list-group-item list-group-item-action">
      <a
        class="nav-link"
        [routerLink]="[ '/pais', pais.alpha2Code]">
        {{ pais.name }}
      </a>
    </li>

    <li
      *ngIf="mostrarSugerido"
      class="list-group-item list-group-item-action">
      <a
        (click)="buscar(busqueda)"
        class="nav-link">
        Buscar: {{ busqueda }}
      </a>
    </li>
  </ul>

</div>

<hr>
<div class="alert alert-danger animate__animated animate__fadeIn"
  *ngIf="hayError">
  No se encontró nada con el término {{ termino }}
</div>

<div class="row" *ngIf="!hayError && paises.length">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>